arabic-reshaper==2.1.3
asgiref==3.7.2
cffi==1.15.0
chardet==5.2.0
cryptography==37.0.4
Django==3.1.13
django-autocomplete-light==3.9.4
django-crispy-forms==1.9.2
django-dal==1.0.0
django-datatables-view==1.19.1
django-excel==0.0.10
django-js-asset==2.0.0
django-login-required-middleware==0.6.1
django-mptt==0.14.0
django-nested-inline==0.4.3
django-querysetsequence==0.14
django-translations==1.3.0
docopt==0.6.2
et-xmlfile==1.1.0
future==0.18.3
lml==0.1.0
mysqlclient==2.1.1
nest-asyncio==1.5.6
num2words==0.5.10
numpy==1.16.5
openpyxl==3.0.9
pandas==1.2.0
Pillow==9.2.0
psycopg2
pycparser==2.21
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pypi==2.1
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2017.3
qrcode==7.3.1
six==1.16.0
sqlparse==0.4.4
texttable==1.7.0
typing_extensions==4.7.1
xlwt==1.3.0