{% extends "layout/base.html" %}

{% load crispy_forms_tags permission_tag  i18n static %}

{% block title%}
{{title_list}}
{% endblock title%}
{% block content %}
{% include 'buttons_add_show.html' with model_name="DataExport" data_target="#modalLRForm" name_text="إضافة تصدير" type_button="add"  %}               

{% has_screen request "DataExport" "view" as view %}
{% if  view %}

  <div class="col-md-12">
    
    <div class="box-header ptbnull">
                
      <div class="alert_message"></div>
  </div>
    <div class="box-body">
      <form action="{{url}}" id='form-id' method="post" class="needs-validation well " accept-charset="utf-8">
          <div id="form_message"></div>
          <!--Body-->
    
            {% csrf_token %}
            <input type="text" name="id" class="hidden">
    
              <div class=" row">
                <div class="col-sm-4 col-md-4">
                  <div class="inner-addon left-addon ">
                    {{form.number| as_crispy_field}}
                    
  
  
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="inner-addon left-addon ">
                    {{formmodel.document_name_temp| as_crispy_field}}
                    {{form.document_name }}
                  </div>
                </div>
              
                <div class="col-sm-4 ">
                  <div class="inner-addon left-addon ">
                    <label for="id_file_type" class="control-label requiredField">
                      نوع الملف
                  </label>
                    <select name="file_type" class="form-control" id="">
                      <option value="1">اكسل</option>
                      <option value="2">csv</option>
                    </select>
  
                  </div>
                </div>
              </div>
    
              
              <br>
              <br>
              <div class="row">
<div class="col-md-5">

  <div id="checkboxes-container-required"></div>
</div>
<div class="col-md-5">

  <div id="checkboxes-container-normal"></div>
</div>
              </div>
              <br>
                     
          <button id="export_examp" type="submit"  class="btn btn-primary">{% trans "بدء التصدير" %} </button>
        
          <br><br>
          <style>
            #tableContainer {
              overflow: auto;
              max-height: 400px; 
            }
            .color_red{
              color: red;
            }
            .control-group {
              margin-right: 15px;
            }
    </style>
      </form>
  
      <!--Footer-->
    </div>

  </div>

{% else %}

<div class="alert alert-danger" role="alert">
  <ul class="messages" style="list-style-type: none;">
      {% trans ' You do not have permission' %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block stylejs %}

<script>
  url = '{% url "DataExportJson" %}';
  let csrf = '{{ csrf_token }}';
  let key_f2_ctrl_a_shortcut = ".add_btn";
  let key_f3_ctrl_s_shortcut = "#submit-button";
  let key_f4_ctrl_f_shortcut = "#DataTables_Table_0_filter input[type='search']";
  let url_export_xls_csv_ = "{% url 'DataExportView' %}";
  let url_get_filde_document_name = "{% url 'get_filde_document_name' %}";
  
</script>
<script src="{% static 'js/datatable_js.js'%}"></script>

<script src="{% static 'js/data_export/data_export.js'%}"></script>

{% endblock stylejs %}

{% block modelform %}
<!-- Modal -->

<!-- Large modal -->

<div class="modal  " id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {% trans 'إضافة  جديد' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="table-responsive  mailbox-messages">
        <table style="width: 100%"
          class="datatable_list table AutoFill table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">

          <thead>
            <tr>
              <th>{% trans "#" %}</th>
              <th>{% trans "Number" %}</th>
              <th>{% trans "اسم الشاشة" %}</th>
              <th>{% trans "نوع التصدير" %}</th>
              <th>{% trans "تاريخ" %}</th>
              <th>{% trans "Action" %}</th>

            </tr>
          </thead>
          <tbody class="show_Operation">
          </tbody>
        </table>
      </div>
 
      
    </div>

  </div>
</div>
<!-- Large modal -->
    
    
    <script>

</script>


{% endblock modelform %}

