.app-header .app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.admin_drop {
    position: absolute;
    top: 0px;
    left: 0px;
    will-change: transform;
    /* transform: translate3d(209px, 26px, 0px); */
}


/* add ammar */

/* .closed-sidebar .app-sidebar .app-sidebar__inner ul li a {
    text-align: right;
} */

/* .closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading {
    text-indent: 999em;
} */



/* .vertical-nav-menu i.metismenu-state-icon {
    transition: transform 300ms;
    left: 0;
    right: auto;
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms;
    right: -15px;
} */

.vertical-nav-menu i.metismenu-state-icon {
    transition: transform 300ms;
    left: 0;
    right: auto;
}

.vertical-nav-menu i.metismenu-state-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    /* left: 5px; */
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms;
}

.vertical-nav-menu i.metismenu-icon {
    text-align: center;
    /* قمت بتعديلها لشان يكون التظليل كامل */
    width: 50px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms;
    right: -15px;
}

.vertical-nav-menu ul:before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    /* left: 20px; */
    top: 0;
    border-radius: 15px;
    right: 0px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem;
}
.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    position: inherit;
}
#TooltipDemo{

    left: 548px;
    }

    /* خاص بالاعدادات */
    .ui-theme-settings.settings-open {
        transform: translate(500px);
        right: 100%;
    }
    .ui-theme-settings { 
        transform: translate(0);
        right: 100%;    
    }

    /* خاص بالفوتتير */
    .fixed-footer .app-footer .app-footer__inner {
        margin-right: 280px;
    }
     