.form_main_Report > form{
    border-radius: 2%;
    background: #ffffff;
    border-top: 3px solid #3c8dbc;

    margin: 0 40px 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#form1_id {
    border-bottom: 3px solid #3c8dbc;
    border-radius: 2%;
    background: #ffffff;
    border-top: 3px solid #3c8dbc;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}
.title_report{
    text-align: center;
    padding: 3px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 3px solid #3c8dbc;
    border-radius: 21%;
    margin-left: 20px;
    margin-right: 20px;
}

#form1_id .div_pymethod{
    border-bottom: 1px solid #ccb093;
    border-radius: 10%;
    background: #ffffff;
    border-top: 1px solid #ccb093;
    margin-bottom: 10px;
    box-shadow: 0 1px 22px rgb(204, 176, 147);
    border-left: 6px solid #ccb093;
    border-right: 8px solid #ccb093;
}

.btn-success {
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3c8dbc !important;
}

.empty_data{
    border-bottom: 3px solid #ac3b50;
    border-top: 3px solid #ac3b50;
    margin: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 26%;
}