
    /* nav */
    .card {
    
        padding: 0;
        border: none;
        border-radius: 0.5rem;
      }
      
      a.active {
          border-bottom: 1px solid #2490EF;
      }
      
      .nav-link {
        color: rgb(110, 110, 110);
        font-weight: 500;
      }
      .nav-link:hover {
        color: #55c57a;
      }
      
      .nav-pills .nav-link.active {
        color: black;
        background-color: white;
        border-radius: 0.5rem 0.5rem 0 0;
        font-weight: 600;
      }
      
      /* 1st card */
      
      .nav-pills .nav-link.active:hover {
      color: #202633!important;
  }
      
  .nav-pills .nav-link:hover {
      color: #202633!important;
  }
      .ccontent li .wrapp p {
        font-weight: 360;
      } 
      
      