ul li.jqtree_common {
	padding: 0 0 0 20px;
	margin: 0 0 0 5px;
	min-height: 19px;
	text-overflow: ellipsis;
	list-style-type: none;
	background-image: url(images/treeview-default-line.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: relative;
}

span.jqtree_common {
	display: block;
}
ul.jqtree_common li ul.jqtree_common li:last-child {
	background-position: 0 -1766px;
}
ul.jqtree_common>li:last-child,  ul.jqtree-tree>li:last-child {
	background-position: 0 -1766px;
}