.box-check {
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	height: 280px;
	position: relative;
}
.box-check-desc {
	height: 180px;
	overflow: hidden;
	text-align: center;
	background: #f5f5f5;
}
.box-check-desc i {
	font-size: 98px;
	margin: 0 auto;
	line-height: 180px;
	color: #1997bf;
	display: inline-block;
}
.box-check-meta {
	padding: 15px;
	height: 98px;
    position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	    transition: all .2s ease-in-out;
}
.box-check-meta h2 {
	font-size: 19px;
	margin-bottom: 5px;
}
.box-check-meta p {
	font-size: 15px;
	margin-bottom: 5px;
	color: #aaa;
	display: none;
	transition: all .2s ease-in-out;
}
.box-check-meta .btn {
	
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease-in-out;
	position: absolute;
	right: 15px;
	bottom: -15px;
}
.box-check-meta .nicelabel-default-position {
	position: absolute;
	bottom: 15px;
	left: 15px;
	margin: 0;
}
.circle-nicelabel {
  display: none !important; }

.rect-nicelabel {
  display: none !important; }

.text-nicelabel {
  display: none !important; }

.circle-nicelabel + label {
  display: block;
  width: 60px;
  height: 25px;
  background-color: #28a745;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none; }

.circle-btn {
      position: absolute;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    left: 37px;
    top: 2px;
    transition: left 0.2s;
    -webkit-transition: left 0.2s; }

.circle-nicelabel:not(:checked) + label .circle-btn {
  left: 2px; }

.circle-nicelabel:not(:checked) + label {
  background-color: #BCBCCB; }

.circle-nicelabel[disabled] + label {
  opacity: 0.5; }
.box-check:hover .box-check-meta {
	height: 100%;
	background: rgba(0,0,0,.8);
}
.box-check:hover .box-check-meta h2 {
	color: #fff;
}
.box-check:hover .box-check-meta p {
	display: block;
}
.box-check:hover .box-check-meta .btn {
	visibility: visible;
	opacity: 1;
	bottom: 15px;
}
.plugin-popup-cont .plug-icon:before
{
    font-size:80px;
}
.plugin-popup-cont .plug-icon {
    font-size: 161px;
    margin: 0 auto;
    line-height: 161px;
    color: #1997bf;
    display: inline-block;
}
.plugin-popup-cont h2 {
	font-size: 30px;
	margin-bottom: 10px;
}
.plugin-popup-cont p {
	font-size: 18px;
	margin-bottom: 5px;
	color: #aaa;
	transition: all .2s ease-in-out;
}
.p-30 {
	padding: 30px;
}
.activate-plugin {
	text-align: center;
	margin-top: 30px;
}
.nicelabel-lg .circle-nicelabel + label {
	width: 80px;
    height: 35px;
	margin: 0 auto;
}
.nicelabel-lg .circle-btn {
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    left: 47px;
    top: 2px;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
}
.box-check-desc i:before
{
    font-size: 80px;
}
.plugin-status-text{
	position: absolute;
	bottom: 20px;
	left: 85px;
	opacity: 1;
}

.box-check:hover .plugin-status-text{
	opacity: 0;
}

.printable-cat .box-check-meta {
    text-align: center;
}
.printable-cat .box-check-meta {
    padding: 25px 15px;
    height: 70px;
}
.printable-cat.box-check {
    height: 220px;
}
.printable-cat .box-check-desc {
    height: 220px;
}
.printable-cat .box-check-desc i {
    font-size: 81px;
    line-height: 150px;
}
.printable-cat.box-check:hover .box-check-meta h2 {
    font-size: 28px;
    margin-top: 70px;
}
.payment-box-check {
    background: #f5f5f5;
    height: auto;
    min-height: 220px;
}
.payment-box-check .box-check-desc {
    background: #fff;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    min-height: 220px;
    padding: 10px;
    padding-bottom: 87px;
}
.payment-box-check .box-check-desc h3 {
    font-size: 24px;
    color: #777;
    font-weight: bold;
    margin: 0;
}
.payment-box-check .box-check-desc img {
    max-width: 100%;
    height: auto;
}
.payment-box-check .box-check-meta {
    background: #f5f5f5;
    height: 87px;
}
.add-payment-btn {
    background: #27c24c;
    text-align: center;
    color: #fff;
    padding: 34px 0;
    display: block;
}
.add-payment-btn i {
    font-size: 60px;
    line-height: 60px;
    display: inline-block;
}
.add-payment-btn h2 {
    color: #fff;
}
.add-payment-btn:active, .add-payment-btn:focus, .add-payment-btn:hover {
    color: #fff!important;
    background-color: #23ad44;
    border-color: #20a03f;
}
.active-stat {
    background-color: #23ad44;
    color: #fff;
    padding: 23px 0 12px 0;
    text-align: center;
    display: block;
    position: absolute;
    width: 150px;
    top: -5px;
    transform: rotate(-45deg);
    left: -54px;
    font-weight: bold;
}
.plugin-popup-cont img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}
.box-check-meta .btn {
    margin-bottom: 5px;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    position: static;
    right: auto;
    bottom: auto;
}
.box-check-meta .btn-group {
    margin-bottom: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    position: absolute;
    right: auto;
    left: 15px;
    bottom: -15px;
}
.box-check:hover .box-check-meta .btn {
    bottom: auto;
}
.box-check:hover .box-check-meta .btn-group {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}


.printable-cat .box-check-desc img{
    padding: 30px;
    margin-top: 15px;
}
.printable-cat .box-check-desc i::before
{
    font-size:80px;
}