::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--gray-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  var(--gray-dark);
    border-radius: 10px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar:increment:hover {
    background-color: #da3c75;
}