.sidebar{

    left:auto;
}
@media (min-width: 992px) {
    .content {
        margin-right: 260px;
        margin-left:0px;
    }
}

.related-widget-wrapper {
    float: right;
    overflow: hidden;
}
.pt-3 {
    padding-top: 1rem !important;
    padding-right: inherit;
}

@media (min-width: 768px) {
    .sidebar.contracted + .content {
        margin-right: 95px;
         margin-left:0px;
    }
}

#custom_paddeng{
    padding:0px
}