{% extends "layout/base.html" %}

{% load crispy_forms_tags permission_tag  i18n static %}

{% block title%}
{{title_list}}
{% endblock title%}
{% block content %}
{% include 'buttons_add_show.html' with model_name="DataImport" data_target="#modalLRForm" name_text="إسترداد البيانات" type_button="add"  %}               

{% has_screen request "DataImport" "view" as view %}
{% if  view %}

  <div class="col-md-12">
    
    <div class="box-header ptbnull">
                
      <div class="alert_message"></div>
  </div>
    <div class="box-body">
      <div class="table-responsive  mailbox-messages">
        <table style="width: 100%"
          class="datatable_list table AutoFill table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">

          <thead>
            <tr>
              <th>{% trans "#" %}</th>
              <th>{% trans "Number" %}</th>
              <th>{% trans "اسم الشاشة" %}</th>
              <th>{% trans "نوع الإسترداد" %}</th>
              <th>{% trans "تاريخ" %}</th>
              <th>{% trans "Action" %}</th>

            </tr>
          </thead>
          <tbody class="show_Operation">
          </tbody>
        </table>
      </div>
 
      <!--Footer-->
    </div>

  </div>

{% else %}

<div class="alert alert-danger" role="alert">
  <ul class="messages" style="list-style-type: none;">
      {% trans ' You do not have permission' %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block stylejs %}

<script>
  url = '{% url "DataImportJson" %}';
  let csrf = '{{ csrf_token }}';
  let key_f2_ctrl_a_shortcut = ".add_btn";
  let key_f3_ctrl_s_shortcut = "#submit-button";
  let key_f4_ctrl_f_shortcut = "#DataTables_Table_0_filter input[type='search']";
  let url_read_excel="{%url 'read_excel' %}";
</script>
<script src="{% static 'js/datatable_js.js'%}"></script>

<script src="{% static 'js/data_import/data_import.js'%}"></script>

{% endblock stylejs %}

{% block modelform %}
<!-- Modal -->

<!-- Large modal -->
<style>
  .select2-container {
    min-width: 18em;
}
.selection{
  height: 39px;
    display: block;
}
.selection>.select2-selection.select2-selection--single{
  height:inherit;
}
</style>

<div class="modal  " id="modalLRForm"  role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {% trans 'إضافة استيراد جديد' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{url}}" id='form-id' method="post" class="needs-validation well " accept-charset="utf-8">
      <div class="modal-body">
        <div id="form_message"></div>
        <!--Body-->
  
          {% csrf_token %}
          <input type="text" name="id" class="hidden">
          <div class="box-body center">
  
            <div class=" row">
              <div class="col-sm-4 col-md-4">
                <div class="inner-addon left-addon ">
                  {{form.number| as_crispy_field}}
                  


                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="inner-addon left-addon ">
                  {{formmodel.document_name_temp| as_crispy_field}}

                  {{form.document_name }}

                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="inner-addon left-addon ">
                  {{form.import_type | as_crispy_field}}
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12 mt-4 ">
                <a href="#"
                class="add-new-btn  btn btn-success btn-addon width-auto btn-lg  button " id="LRForm" data-toggle="modal" data-target="#exaplemodalLRForm"> 
                تحميل وثيقة    
              </a>
            </div>
          </div>
          <div class="row">
                <div class="col-sm-12 mt-4">
                  <label for="id_excel_file" class="control-label requiredField">
                    استيراد ملف<span class="asteriskField">*</span>
                </label>
                <input type="file" required id="excelFile" accept=".xlsx, .csv" name="excel_file">
                
              </div>
            </div>
  <div class="row">
    <div class="col-sm-12">
      

  </div>
        
          </div>
    
                   
      </div>
      <div class="modal-footer">
        <button id="submit-button" type="submit" class="btn btn-primary">{% trans "بدء الاسترداد" %} </button>
        <button type="button" class="btn btn-secondary" id="Previous_Operations_close"
        data-dismiss="modal">{% trans "Close" %}</button>
      
        <br><br>
        <style>
          #tableContainer {
            overflow: auto;
            max-height: 400px; 
          }
  </style>
        <div id="tableContainer"></div>
      </div>
      </div>
    </form>

    </div>

  </div>
</div>
<!-- Large modal -->

<div class="modal  " id="exaplemodalLRForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabelaa"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {% trans 'تصدير البيانات' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" id='export_exap' method="post" class="needs-validation well " accept-charset="utf-8">
        {% csrf_token %}
        <div class="modal-body">
        <div id="form_message"></div>
        <!--Body-->
  
          <div class="box-body center">
  
  
            <div class="row">
              <div class="col-sm-4 ">
                <div class="inner-addon left-addon ">
                  <label for="id_file_type" class="control-label requiredField">
                    نوع الملف
                </label>
                  <select name="file_type" class="form-control" id="">
                    <option value="1">اكسل</option>
                    <option value="2">csv</option>
                  </select>

                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="id_type_export" class="control-label requiredField">
                  نوع التصدير
              </label>
           <select name="type_export" class="form-control" id="">
             <option value="1">نموذج فارغ</option>
             <option value="2">خمسة سجلات</option>
            <option value="3">جميع السجلات</option>
           </select>
          </div>
        </div>
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
          </div>
                   
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="export_examp" href="">تصدير</a>
        
        <button type="button" class="btn btn-secondary" id="Previous_Operations_close"
        data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </form>
    
    
    <script>
      $(document).ready(function() {
        $("#export_examp").on("click", function(e) {
          e.preventDefault();
          var type_export = $("select[name='type_export']").val();
      var type_file = $("select[name='file_type']").val();
      var document_name = $("input[name='document_name']").val();
          
      var url = "{% url 'export_xlsa'   %}";
      url = url + type_export + "/"+type_file+"/"+document_name+"/";
      window.location.href = url;
        });
      })

</script>
    </script>

    </div>

  </div>
</div>

{% endblock modelform %}

