
{% extends "layout/base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    .panel {
        border: 1px black solid;
    }
</style>

{% for file in css_files %}
<link rel="stylesheet" href="{% static file %}">
{% endfor %}

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{title_list}}</h3>
                <!-- <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div> -->
                <div class="container">

                    <a href="" id="add_btn_2" class="btn btn-primary btn-rounded my-3 pull-left clear_model"
                        data-toggle="modal" data-target="#modalLRForm">
                        <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'a'%}</a>

                </div>
            </div><!-- /.box-header -->
            <div class="box-body">


                {% if has_datatable is True %}
                <div class="table-responsive mailbox-messages">
                    <table
                        class=" datatable_list table AutoFill table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed">
                        <thead>
                            <tr>
                                <th>{% trans "#" %}</th>
                                {% for feilds in list_fields %}
                                <th>{{ feilds}}</th>
                                {% endfor %}
                                <th>{% trans " Action" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                {% endif %}
              
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <!-- <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a> -->
            </div><!-- /.box-footer -->
        </div><!-- /.box -->

    </div>
    <!-- /.col -->
    <div class="modal  " id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-{{modal_size}}" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs tabs-1 " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" role="tab">
                                {{title_form}}</a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                            <form action="{{url}}" id='form-id' method="post" class="needs-validation"
                                enctype="multipart/form-data" accept-charset="utf-8">
                                <div class="modal-body">
                                    <input type="text" name="id" class="hide">
                                    {% crispy form form.helper %}
                                    <div id="load_div">

                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button id="submit-button" type="submit" class="btn btn-primary">{% trans "SAVE" %}
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                                </div>
                            </form>
                            <!--Footer-->


                        </div>
                        <!--/.Panel 7-->


                        <!--/.Panel 8-->
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal-->
</div>

<!--Modal-->
{% endblock %}


{% block stylejs %}
<script>
    url = '{{ url }}?dataTable';
    let csrf = '{{ csrf_token }}';
</script>

<script src="{% static 'js/datatable_js.js'%}"></script>
<script>
</script>
{% for file in js_files %}
<script src="{% static file %}"></script>
{% endfor %}

{% endblock stylejs %}