{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}
{% block content %}
<h1>الخطوة الأولى</h1>
<form action="{{url}}" id="myform" method="post">
    <h1>اختر طبيعة نشاطك</h1>
    <label>اختيار النشاط</label>
    {% csrf_token %}
    
    {{form.type_activity}}
    <button type="submit">حفظ</button>
</form>
{% endblock content %}

{% block stylejs %}
<script>
    // alert("A");.attr('disabled','disabled');
    $("#scrollbar-sidebar").children().css('display', 'none');

    let form_id = '#myform';
    $(document).on('submit', form_id, function(e) {
        e.preventDefault();
        
        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            method: 'POST',
            success: function(data) {
                $(".text-danger", form_id).remove();

                if (data.status == 1) {
                    
                    
                    alert_message(data.message.message, data.message.class);
                    window.location.href=data.url;
                    
                } else if (data.status == 2) {
                    $.each(data.error, function() {
                        let form = $(this)[0].form_id;
                        alert_message($(this)[0].message, 'alert alert-danger');
                    });
                } else if (data.status == 0) {

                    print_error_formset(data.error_formset);
                    let invoice_rows = parseInt($('#id_' + 'IncomeOrderDetails' + '-TOTAL_FORMS').val());
                    let error = JSON.parse(data.error);
                    $.each(error, function(i, value) {
                        let div = '<span class="text-danger">';
                        $.each(value, function(j, message) {
                            div += `- ${message.message}<br>`;
                        });

                        $(`#id_${i}`).parent().append(div);
                    });

                } else if (data.status == 3) {
                    alert_message(String(data.message.message), 'alert alert-warning', 'fa fa-times');

                }
                
                
            },
            error: function(data) {
                //alert_message(String(data.message ), 'alert alert-warning', 'fa fa-times');


                
            }
        });
    
    });
</script>
{% endblock stylejs %}