{% extends "layout/base.html" %}
{% load crispy_forms_tags i18n static  permission_tag %}
  {% block title %}
  {% trans 'Role' %}
  {% endblock title %}
{% block content %}
<style>
  .tab-content {
    width: max-content;
    width: initial;

    /* padding-right: 65px; */
    border-left: 1px solid #ddd;
    border-bottom: none;
    /* background: aliceblue; */
  }

  #vert-tabs-tab{
    text-align: right;
    border-bottom:  1px solid rgb(0, 0, 0);
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    
    background-color: #fff;
    border-color: #dee2e6 #000000 #fff;
}
</style>
{% has_screen request "addNewPermission" "view" as view %}
{% has_screen request "addNewPermission" "add" as add %}
{% has_screen request "addNewPermission" "edit" as edit %}
{% has_screen request "addNewPermission" "delete" as delete %}

{% if view %}
  <div class="col-md-12">
    <h3 class="box-title "> </h3>

    <div class="box box-info {{collpase2}}">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags }} ">
        {{ message  }}</div>
      {% endfor %}
      {%  endif %}
      <div class="box-header with-border">
        
        <div class="box-tools pull-right">
        </div>
      </div>
      <div class="box-body">
        <table class="table datatable_list">

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'Role name' %}</th>
              <th scope="col">{% trans 'Action' %}</th>

            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}

  <div class="col-md-12">
    <div class="box box-info {{collpase}}">
      <div class="box-header with-border">
        <h3 class="box-title">{{title}}</h3>

        <div class="box-tools pull-right">

       </div>
      </div>
      <div class="box-body">
        <div class="col-md-12">

          <form method="post">
{% if add or edit %}

            <p>
              <button class="btn btn-primary pull-right" type="submit">{{button_title}}</button>
            </p>
            {% endif %}

          </hr>
            <div class="row">
              <div class="col-md-4 pull-right">

                {{form}}
              </div>
            </div>
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
                  الرئيسي قالب تعديل صلاحيات
                </h3>
              </div>
              <script>
                          let lastsystem={};
                          </script>
                          
              <div class="card-body">
                <div class="row">
                  <div class="col-5 col-sm-3">
                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">النظام</a>
                      {% for sys in system %}
                      <a class="nav-link" id="{{sys.system_code}}-tab" data-toggle="pill" href="#{{sys.system_code}}" role="tab" aria-controls="{{sys.system_code}}" aria-selected="false">{{sys.system_name_ar}}</a>
                     <script>
                      lastsystem["{{forloop.counter}}"]="{{sys.system_code}}";

                     </script>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-7 col-sm-9">
                    <div class="tab-content" id="vert-tabs-tabContent">
                      <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                        <div class="card card-primary card-outline">
                          <div class="card-header">
                            <h3 class="card-title">
                              <i class="fas fa-edit"></i>
                               الفرعي تعديل الصلاحيات
                            </h3>
                          </div>
                          <div class="card-body">
                            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">الانظمة</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">الرئيسي</a>
                              </li>
                            </ul>
                            <div class="tab-content" id="custom-content-above-tabContent">
                              <div class="tab-pane fade show active" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col"> {% trans 'permission name' %}</th>
                                      <th scope="col">{% trans 'has permission' %} </th>
        
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for sys_tabs_system in system %}
                                    {% for sys_is_system_tabs in sys_tabs_system.systemtabs_set.all %}
                                    {% if sys_is_system_tabs.is_system %}
        
                                    <tr>
                                      <td>
                                        {{sys_is_system_tabs.tab_name_ar}}
                                      </td>
                                      <td>
        
                                        <input type="checkbox" {% contains_tab sys_is_system_tabs.pk  %}
                                          name="tab_{{sys_is_system_tabs.pk}}" value-"1" class="form-check-input">
                                      </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
        
                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane fade" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col"> {% trans 'permission name' %}</th>
                                      <th scope="col">{% trans 'has permission' %} </th>
    
                                    </tr>
                                  </thead>
                                  <tbody>
                                   
                                    {% for sys_system in system %}
    
                                    <tr>
                                      <td>
                                        {{sys_system.system_name_ar}}
                                      </td>
                                      <td>
                                        <input type="checkbox" {% contains_system sys_system.pk %}
                                          name="system_{{sys_system.pk}}" value-"1" class="form-check-input">
                                      </td>
                                    </tr>
    
                                    {% endfor %}
    
                                  </tbody>
    
                                </table> 
                              </div>
                             
                            </div>
                          </div>
                          <!-- /.card -->
                        </div>
                   
                      </div>
                      {% for sys1 in system %}
                       
                      <div class="tab-pane fade tabl-system_tabs" id="{{sys1.system_code}}" role="tabpanel" aria-labelledby="{{sys1.system_code}}-tab">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                          aria-orientation="vertical">
                          <ul class="nav nav-tabs tabs-left sideways" id="myTab" role="tablist">

                            {% for sys_tab in sys1.systemtabs_set.all%}
                              {% if  not sys_tab.is_system %}

                              <li role="presentation" class="nav-item">
                                <a class="nav-link nav-link-system "
                                  href="#{{sys_tab.tab_code}}" data-toggle="tab">{{sys_tab.tab_name_ar}}</a>

                              </li>
                              {% endif %}
                            {% endfor %}

                          </ul>
                        </div>
                        
                    <div class="col-7 col-sm-9 children_system" >
                      <div class="tab-content">

                        {% for sys_tab2 in sys1.systemtabs_set.all%}
                        {% if   sys_tab2.is_system %}

                        <div class=" tab-pane fade system_rolscreen"
                          id="{{sys_tab2.tab_code}}">

                          <ul class="nav nav-tabs" id="myTab" role="tablist">

                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" data-toggle="tab"
                                href="#tab_{{sys_tab2.tab_code}}">{% trans 'الشاشة' %}</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" data-toggle="tab"
                                href="#tab_2_{{sys_tab2.tab_code}}">{% trans 'أذونات جزئية' %}</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="v-pills-tabContent">

                            {% csrf_token %}
                            <div id="tab_{{sys_tab2.tab_code}}" class="tab-pane fade in show active">
                              <table class="table" border="1">
                                <thead>
                                  <tr>
                                    <th >{% trans 'screen name' %}</th>
                                    <th >{% trans 'view' %} </th>
                                    <th >{% trans 'add' %}  </th>
                                    <th >{% trans 'edit' %}  </th>
                                    <th >{% trans 'delete' %}  </th>
                                    <th >{% trans 'print' %}  </th>
                                    <th >{% trans 'active' %} <input type="checkbox" value="1" id="ckbCheckAllactive" /> </th>
                                    <th >{% trans 'تحديد الكل' %} </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  {% for screen in sys_tab2.tabscreens_set.all%}

                                  <tr>
                                    <td>
                                  <a class="nav-link nav-link-screen_ "
                                  href="#{{screen.screen_name_code}}" data-toggle="tab">{{screen.screen_name_ar}}</a>
                                  
                                    </td>
                                    {%  if screen.has_view %}
                                    <td>
                                      <input {% contains screen.pk "can_view"  %} type="checkbox"
                                        name="view_{{screen.pk}}" value-"1" class="form-check-input form-check-input_can_view view_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}} ">
                                    </td>
                                    {%  endif %}

                                    {%  if screen.has_add %}
                                    <td>

                                      <input {% contains screen.pk "can_add"  %} type="checkbox"
                                        name="add_{{screen.pk}}" value-"1" class="form-check-input form-check-input_can_add add_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                    </td>
                                    {%  endif %}

                                    {%  if screen.has_edit %}
                                    <td>
                                      <input {% contains screen.pk "can_edit"  %} type="checkbox"
                                        name="edit_{{screen.pk}}" value-"1" class="form-check-input form-check-input_can_edit edit_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                    </td>
                                    {%  endif %}
                                    {%  if screen.has_delete %}
                                    <td>
                                      <input {% contains screen.pk "can_delete"  %} type="checkbox"
                                        name="delete_{{screen.pk}}" value-"1" class="form-check-input form-check-input_can_delete delete_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                    </td>
                                    {%  endif %}
                                    {%  if screen.has_print %}
                                    <td>
                                      <input {% contains screen.pk "can_print"  %} type="checkbox"
                                        name="print_{{screen.pk}}" value-"1" class="form-check-input form-check-input_can_print print_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                    </td>
                                    {%  endif %}
                                    <td>
                                    {%  if screen.is_active %}
                                      <input {% contains screen.pk "tab_screens__is_active"  %} type="checkbox"
                                        name="active_{{screen.pk}}" value-"1" class="form-check-input form-check-input_tab_screens__is_active active_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                        {% else %}
                                        <input {% contains screen.pk "tab_screens__is_active"  %} type="checkbox"
                                        name="active_{{screen.pk}}" value-"0" class="form-check-input form-check-input_tab_screens__is_active active_screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}">
                                        
                                        {%  endif %}
                                      </td>
                                      <td>
                                        <input type="checkbox"
                                          name="screen_{{screen.pk}}" id="screen_{{screen.pk}}-tab_{{sys_tab2.tab_code}}" value-"1" class="form-check-input form-check-input_can_check_all">
                                        </tr>
                                      </td>

                                  {% endfor %}

                                </tbody>
                              </table>
                            </div>

                            <div id="tab_2_{{sys_tab2.tab_code}}" class="tab-pane fade">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col"> {% trans 'permission name' %}</th>
                                    <th scope="col">{% trans 'has permission' %} </th>

                                  </tr>
                                </thead>
                                <tbody>
                                  {% for partion in sys_tab2.tabscreens_set.all%}
                                  {% for partion2 in partion.tabpartionspermission_set.all%}
                                  <tr>
                                    <td>

                                      {{partion2.permission_name_ar}}
                                    </td>

                                    <td>
                                      <input type="checkbox" {% contains_partion partion2.pk   %}
                                        name="pre_{{partion2.pk}}" value-"1" class="form-check-input">
                                    </td>
                                  </tr>

                                  {% endfor %}
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        {%  endif %}
                        {% endfor %}
                      </div>
                    </div>
                     </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
               
              </div>
              <!-- /.card -->
            </div>
          </form>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block stylejs %}
<script>
  url = '{% url "PermissionGroupListJson" %}';
</script> 
<script src="{% static 'js/datatable_js.js'%}"></script>

<script>

  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(".form-check-input_can_check_all").change("checked", function() {
    let id_c=$(this).attr("id");
    if($(this).val()=="on"||$(this).val()=="0")
    {
      $(".view_"+id_c).prop('checked', true);
      $(".add_"+id_c).prop('checked', true);
      $(".edit_"+id_c).prop('checked', true);
      $(".print_"+id_c).prop('checked', true);
      $(".delete_"+id_c).prop('checked', true);
      $(".active_"+id_c).prop('checked', true);
    }
  else
   {
    $(".view_"+id_c).prop('checked', false);
      $(".add_"+id_c).prop('checked', false);
      $(".edit_"+id_c).prop('checked', false);
      $(".print_"+id_c).prop('checked', false);
      $(".delete_"+id_c).prop('checked', false);
      $(".active_"+id_c).prop('checked', false);
  }
  
  })
  function checkbox_(bname){
    $("#ckbCheckAll"+bname).change("checked", function() {
      if($(this).val()=="on"||$(this).val()=="1")
        { 
          if(bname=="active")
            $(".form-check-input_tab_screens__is_active").prop('checked', false);
            
            // $(".form-check-input_can_"+bname).prop('checked', false);
          }
          else
          {
          if(bname=="active")
            $(".form-check-input_tab_screens__is_active").prop('checked', true);

        // $(".form-check-input_can_"+bname).prop('checked', true);
    }})
}
for(var i=1; i<14;i++){
  $("#"+lastsystem[i]+"-tab").on("click", function(){
  var tab=$(this).attr("id").split("-tab")[0];
  $(".nav-link-system").removeClass("show active")
  $(".tabl-system_tabs").removeClass("show active")
  $("#"+tab).addClass("show active");
  for(var v=0;v<=12;v++){
    if($(".system_rolscreen").last("id")["prevObject"][v]["id"]==tab){
      $(".system_rolscreen").addClass("show active");
  
  }
  }

})

}


// checkbox_("view");
// checkbox_("add");
// checkbox_("edit");
// checkbox_("delete");
// checkbox_("print");
checkbox_("active");


</script>

{% endblock %}