{% load compress i18n static %}
<style>
    /* .loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
} */

/* .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #000;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
</style>
<div class="app-drawer-wrapper">
    <div class="drawer-nav-btn">
        <button type="button" class="hamburger hamburger--elastic is-active">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
    </div>
 </div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>







<!-- jQuery 2.1.4 -->
<script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  // $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.4 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{% static 'plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'js/messages/notify.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- jQuery K{% static 'nob Chart -->
<script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.responsive.min.js' %}"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<!-- Slimscroll -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
<!-- AdminLTE App -->

<script src="{% static 'dist/js/app.min.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'js/messages/notify.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% csrf_token %}
<!-- after -->

<script>
    
    $(document).ready((function() {
    
        $(document).ready(function() {
            $("title").text($("title").text()+"-"+$("#blocktitle").text());
        });
    
        }))


    

</script>

<script>
    let url = "";
    let table = "";
    let mix_url_id = '';
    let lang = {
        "decimal": "",
        search: "_INPUT_",
        searchPlaceholder: "{% trans 'Search...' %}",
        "emptyTable": "{% trans 'No data available in table' %}",
        "info": "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries' %}",
        "infoEmpty": "{% trans 'Showing 0 to 0 of 0 entries' %}",
        "infoFiltered": "{% trans '(filtered from _MAX_ total entries)' %}",
        "infoPostFix": "{% trans ',' %}",
        "thousands": "{% trans ',' %}",
        "lengthMenu": "{% trans 'Show _MENU_' %}",
        "loadingRecords": "{% trans 'Loading...' %}",
        "processing": "{% trans 'Processing...' %}",
        "zeroRecords": "{% trans 'No matching records found' %}",
        paginate: {
            first: '«',
            previous: '‹',
            next: '›',
            last: '»'
        },
        aria: {
            paginate: {
                first: "{% trans 'First' %}",
                previous: "{% trans 'Previous'%}",
                next: "{% trans 'Last' %}",
                last: "{% trans 'Previous'%}"
            }
        }
    };
    var Informations = "{% trans 'Info' %}";
    var BoxEmpty = "{% trans 'this box is empty input the number search' %}";
    var DeleteNode = "{% trans 'Are you sure to permanently delete this node!'%}";
    var NotHaveChild = "{% trans 'You can not delete node have children'%}";
    var HeadMessages = "{% trans 'Messagess'%}";
    var DownloadDate = "{% trans 'Dawnload Data'%}";
    var UpdatePeriod = "{% trans 'Update Period'%}";
    var Update = "{% trans 'Update'%}";

    var ConfirmOperation = "{%trans 'Confirm Operation!'%}";
    var MsgConfirmSave = "{%trans 'Are You Sure to Save'%}";
    var MsgConfirmUpd = "{%trans 'Are You Sure to Update'%}";
    var MsgConfirmDel = "{% trans 'Are you sure to delete?'%}";
    var MsgConfirmPrint = "{%trans 'Do You Want to Print'%}";
    var UpdatePeriodDetails = "{%trans 'This Operation Will Update Period Details are You Sure To Continue ?'%}";
    var Save = "{%trans 'SAVE'%}"
    var loading = "{%trans 'loading'%}"
    var Cannot = "{%trans 'can not modified this has operation'%}"
    var NotPrice = "{% trans 'Item Don Not Has Price !'%}"


    $('input[name="search"]').on('change', function(e) {
        // e.preventDefault();
        $.ajax({
            url: $('#search').val(),
            data: 'search=' + $('input[name=search]').val(),
            method: 'GET',
            success: function(data) {
                window.open(data)
            },
            error: function(data) {
                alert
                    ('error');
            }
        });
    })

    function param(name) {
        return (location.search.split(name + '=')[1] || '').split('&')[0];
    }

    $(document).ready(function() {



        $("input[type='checkbox']").on("change", function() {
            if ($(this).is(":checked"))
                $(this).val("1");
            else
                $(this).val("0");
        });
        let my_param = param('key_id');
        // $('tr').trigger('click');
        //
        if (my_param != '') {
            if (my_param == 'open')
                setTimeout(function(e) {
                    $(".modal").first().modal("show");
                    $('tr').trigger('click');

                }, 2000)
            else
                $('#id_parent').val("" + param('id'))
            setTimeout(function(e) {
                $('#id_parent').trigger('change')
            }, 1500)
        }

    });
    function confirm_delete(msg = 0) {
        if (msg == 0) {
            return confirm(MsgConfirmDel);
        } else {
            return confirm(UpdatePeriodDetails);
        }
    }
    
    
    function mymodal(message1, type, myfunction = function() {}, myfunction1 = function() {}) {

        //$(".modal_cancel").trigger('click');
        //$("#model_message").modal('hide');
        //$('body #model_message').removeClass('modal-open');
        //$('#model_message .modal-backdrop').remove();
        $('#model_message').replaceWith('');
        var my_div = `
  <div class="modal" id="model_message"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 0%;" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" >
    <div class="row">
    <div class="col col-sm-4 col-md-4 col-lg-4"></div>
    <div class="modal-content col-sm-6 col-md-6 col-lg-6">
  
        <div class="modal-header" style="background:#ffffff; color:White;">
  
        </div>
        <div class="modal-body alert_message ">
  
        </div>
  
    <div class="modal-footer">
    <button id="message_close" class="btn btn-primary modal_cancel" Width="100px" >{%trans "Close"%} </button>
    </div>
        </div>
        <div class="col col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
  </div></div>`;
        if (type === "message") {
            my_div = my_div.replace('backdrop', '').replace('keyboard', '');
        }
        $('body').append(my_div);
        if (type == "save") {
            message = ConfirmOperation;
            if (message1 == "")
                message1 = MsgConfirmDel;
            $('#model_message .modal-footer').prepend('<button class="btn btn-primary modal_confirm" width="100px" >{%trans "Save"%}</button>');
            $('#model_message .modal-header').attr('class', 'modal-header bg-primary');
        } else if (type == "update") {
            message = ConfirmOperation;
            if (message1 == "")
                message1 = MsgConfirmUpd;
            $('#model_message .modal-footer').prepend('<button class="btn btn-primary modal_confirm" width="100px" >{%trans "Update"%}</button>');
            $('#model_message .modal-header').attr('class', 'modal-header bg-warning');
            $('.modal_confirm').attr('class', 'modal_confirm btn btn-warning');
            $('.modal_cancel').attr('class', 'modal_cancel btn btn-info');
            $('#model_message .modal-body').attr('class', 'modal-body text-warning');


        } else if (type == "delete") {
            message = ConfirmOperation;
            if (message1 == "")
                message1 = MsgConfirmDel;
            $('#model_message .modal-footer').prepend('<button class="btn btn-primary modal_confirm" width="100px" >{%trans "Delete"%}</button>');
            $('#model_message .modal-header').attr('class', 'modal-header bg-danger');
            $('.modal_confirm').attr('class', 'modal_confirm btn btn-danger');
            $('.modal_cancel').attr('class', 'modal_cancel btn btn-info');
            $('#model_message .modal-body').attr('class', 'modal-body text-danger');
        } else if (type == "message") {
            if (!String(myfunction).includes("function"))
                cls = myfunction;
            else
                cls = 'info';
            message = "Messages.";
            $('#model_message .modal-header').attr('class', 'modal-header bg-' + cls);
            $('.modal_cancel').attr('class', 'modal_cancel btn btn-info');
            $('#model_message .modal-body').attr('class', 'modal-body text-' + cls);


        } else if (type == "print") {
            message = ConfirmOperation;
            if (message1 == "")
                message1 = MsgConfirmPrint;
            $('#model_message .modal-footer').prepend('<button class="btn btn-primary modal_confirm" width="100px" >{%trans "Print"%} </button>');
            $('#model_message .modal-header').attr('class', 'modal-header bg-info');
            $('.modal_confirm').attr('class', 'modal_confirm btn btn-info');
            $('.modal_cancel').attr('class', 'modal_cancel btn btn-primary');
            $('#model_message .modal-body').attr('class', 'modal-body text-info');
        }

        $('#model_message .modal-header').html(`<h4> ${message} </h4>`);
        $('#model_message .modal-body').html(`<h5> ${message1} </h5>`);
        // $('#model_message').modal('show');
        $(".modal_confirm").click(function(e) {
            myfunction();
            $("#model_message").modal('hide');
            //$('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').addClass('modal-open');
        });
        $(".modal_cancel").click(function(e) {
            myfunction1();
            $("#model_message").modal('hide');
            //$('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').addClass('modal-open');
        });


    }
    
    $('#language-list a').on('click', function(event) {
        event.preventDefault();


        let target = $(event.target);
        let url2 = target.attr('href');
        let language_code = target.data('language-code');
        $.ajax({
            type: 'POST',
            url: url2,
            data: {
                language: language_code
            },
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            }
        }).done(function(data, textStatus, jqXHR) {
            reload_page();
        });
    });

    function getCookie(name) {
        let value = '; ' + document.cookie,
            parts = value.split('; ' + name + '=');
        if (parts.length == 2) return parts.pop().split(';').shift();
    }

    function reload_page() {
        $.ajax({
            type: 'GET',

            data: {},
            // headers: { "X-CSRFToken": getCookie('csrftoken') }
        }).done(function(data, textStatus, jqXHR) {
            window.location.reload(true);
        });
    }

</script>

<script>
    function startBackup() {
  var progressBar = document.querySelector('.progress');
  $("#pleaseWaitDialog").modal("show");
  var width = 0;
  var interval = setInterval(function() {
    if (width >= 100) {
      clearInterval(interval);
    } else {
      width++;
      progressBar.style.width = width + '%';
      if (width == 100) {
  $("#pleaseWaitDialog").modal("hide");
    alert_message("تم إنشاء نسخة إحتياطية");

      }
    }
  }, 100);

}

    var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
    let url_backup="";
    function backup_out_window(){
        startBackup();
        $.ajax({

        url: url_backup,
        data: {
            'id': "id_row",
        },
        method: 'post',
        beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
        success: function(data) {
            if (data.status == 1) {
                // alert_message(data.message.message, data.message.class);
                
            
            }
        },
        });

//   $("#pleaseWaitDialog").modal("hide");

}


// $(".app-sidebar").hover(function (e) {
//     e.preventDefault();
// })


</script>

<script>
    $(".modal-backdrop").addClass('hidden');
    let formChanged = false;
    $("form").on('change', () => formChanged = true);
    if (formChanged) {
 
        window.addEventListener('beforeunload', function(event) {
        
      });


    }

var date_from ;
var date_to ;
var today = new Date();
var math=(today.getMonth() + 1)+"";
var day_=today.getDate()+"";
if(math.length==1)
    math="0"+math;
if(day_.length==1)
    day_="0"+day_;
date_from = today.getFullYear() + '-' + math + '-' + '01';

date_to = today.getFullYear() + '-' + math + '-' + day_;

$('#from-date').val(date_from);
$('#to-date').val(date_to);

</script>
{% block stylejs%}
 {% endblock stylejs %}
 