{% extends "layout/base.html" %}


{% load crispy_forms_tags   i18n static %} 
{% block display %}
{% if not view %}
<a href="" class="btn btn-primary btn-rounded my-3 pull-right add_btn" data-toggle="modal"
data-target="#modalLRForm"> 
<i class="fa fa-list"></i> {% trans 'show Customer' %}</a>
<div class="alert_message"></div>
{% endif %}
{% endblock display %}

{% if not view %}
{% block title%}
إدارة تصاريح العملاء
{% endblock title%}
{% endif %}
{% block content %}

  <style>
    *,
    *:before,
    *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    body,
    html,
    .login_form {
      height: 100%;
    }

    body {
      background: #dbd2d2;
    }

    .login_form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: center;
      -moz-box-flex: center;
      -webkit-flex: center;
      -ms-flex: center;
      flex: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .login-wrapper {
      max-width: 500px;
      width: 100%;
    }

    .logo {
      text-align: center;
    }

    .logo img {
      max-width: 200px;
      width: 100%;
      margin: 1em auto 2em;
    }

    form {
      background: rgb(223, 214, 214);
      padding: 2em 1em;
      font-family: helvetica, sans-serif;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    form label {
      color: rgb(0, 0, 0);
      margin: 0 3% .25em;
      display: block;
      font-family: helvetica, sans-serif;
    }

    form input {
      width: 94%;
      padding: .5em .25em;
      margin: 0 3% 1em;
      font-size: 1.2em;
      border: 2px solid #000;
      outline: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    form input.password {
      padding-right: 4rem;
    }

    form input:focus {
      border: 2px solid #1fd100;
    }

    form button {
      width: 94%;
      margin: 2em 3% 0;
      border: none;
      background: #1fd100;
      padding: 1em 0;
      font-size: 1.25em;
      clear: both;
      color: rgb(0, 0, 0);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      cursor: pointer;
    }

    form button:focus,
    form button:hover {
      background: #262626;
    }

    h1 {
      color: rgb(0, 0, 0);
    }

    .hide-show {
      width: 94%;
      margin: -3.62em 3% 0 1.5%;
      position: relative;
      z-index: 5;
      display: none;
    }

    .hide-show span {
      background: #1fd100;
      font-size: 1em;
      padding: .5em;
      float: right;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .label{
      color: rgb(0, 0, 0);
    }
    .modal_loading {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(51, 47, 47, 0.8) url("{% static 'loading.gif' %}") 50% 50% no-repeat;
    }


    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading .modal_loading {
      overflow: hidden;
    }

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal_loading {
      display: inline;
    }
  </style>
 

 <div class="alert_message"></div>
  <div class="modal_loading">
    <div style="text-align: center;font-size: 12px; margin-top: 23%;color: coral;">
      {% trans 'Please Wait Until Operation Complete' %} </div>

  </div>
  <div id="load_div">
    <div class="login_form">
      <setion class="login-wrapper">



        <h1>إدارة تصاريح العملاء</h1>
        <form action="{% url 'activiton'%}" id='id_activate__id' method="post" class="" accept-charset="utf-8" >
          {% csrf_token %}
          <input type="text" name="id" class="hidden">

          {{form.name_client_ar|as_crispy_field }}
          {{form.phon_client|as_crispy_field }}
          {{form.address_client|as_crispy_field }}
          {{form.date_client|as_crispy_field }}
          {{form.agreed_amount |as_crispy_field }}
          {{form.amount_paid_dollar |as_crispy_field }}
          {{form.remaining_dollar_amount |as_crispy_field }}
          {{form.activate_key1|as_crispy_field }}
          <button type="submit" class="btn btn-primary btn-block btn-large">{% trans "حفظ" %}</button>
          
          
          
          <div class="label">
          <h2> بلصق هذا السريال ولصقة عند العميل لتفعيل النظام</h2>
          </div>
          {{form.activate_key2|as_crispy_field }}
        </form>
        

        </section>
    </div>
  </div>



  
  {% block stylejs %}
  
  <script>
  
    $(document).ready(function () {
      
      $(document).on('submit', "#id_activate__id", function () {
        
      
        
        $.ajax({
          url: $(this).attr('action'),
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          method: 'POST',
          success: function (data) {
            alert(data.status);
            if (data.status == 1) {
              $("#id_activate_key2").val(data.activate_key2);
              alert("data.message.message");
            } else if (data.status == 0) {
              alert(data.message.message);
            }
  
  
          },
          error: function (data) {
            alert('fail');
  
          }
        });
  
    
  
    });
    });
  
  
  
  </script>
   {% endblock stylejs %}
{% endblock content %}