{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}
{% block content %}
{% load i18n static %}
{% load crispy_forms_tags %}
<script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

  {% block style_css %}

  <style>
    form input {
      width: 94%;
      padding: .5em .25em;
      margin: 0 3% 1em;
      font-size: 1.2em;
      border: 2px solid #000;
      outline: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }


    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading .modal_loading {
      overflow: hidden;
    }

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal_loading {
      display: inline;
    }
  </style>
  {% endblock style_css %}
</head>

<body>
  <div id="load_div">
    <div class="login_form">
      <setion class="login-wrapper">



        <h1>كود التفعيل</h1>
        <form action="{{url}}" id='form-id' method="post" class="needs-validation" accept-charset="utf-8">
          {% csrf_token %}
          <div class="label">
            {{form.activate_key1.label}}
          </div>
          {{form.activate_key1}}
          <div class="label">
            {{form.activate_key2.label}}
          </div>
          {{form.activate_key2}}
          <button type="submit" class="btn btn-primary btn-block btn-large">{% trans "تفعيل" %}</button>
        <script>
          
          let git_="{{get_id }}";
          
          $("#id_activate_key1").val(git_);
          </script>
          </form>
        

        </section>
    </div>
  </div>

</body>

<script>
  $("#scrollbar-sidebar").children().css('display', 'none');




  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  $(document).ready(function () {
    let form_id = "#form-id";
    $(document).on('submit', form_id, function (e) {
      e.preventDefault();
      let forms = new FormData(this);
      $.ajax({
        url: $(this).attr('action'),
        data: {
          "activate_key1": $("#id_activate_key1").val(),
           "activate_key2": $("#id_activate_key2").val()
       },
        method: 'POST',
        success: function (data) {
          
          if (data.status == 1) {
          alert(data.message);
          window.location.href=data.url;
          $("body").addClass("loading"); 
          setTimeout(function () 
          {
             $("body").removeClass("loading");
             location.reload();
          }, 5000); 
          } else if (data.status == 0) {
            alert(data.message);
          }


        },
        error: function (data) {
          alert('fail');

        }
      });

    });
  

  });


</script>
{% endblock content %}
