          {% load i18n static %}
{% load crispy_forms_tags %}

<div class="login_form">
        <section class="login-wrapper">
            <h1>Configration Information</h1>
            <form method="post" id="create_comp" action="{% url 'create_company'%}">
                <div>
                    {% csrf_token %}
                    <div class="box-body">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"> {% trans "User Information" %}</legend>

                            {% for field in form %}
                            {% if forloop.counter > 0 and forloop.counter <= 3 %}
                            <div class="col-md-6 col-lg-6 col-sm-4">
                                {{ field |as_crispy_field }}
                            </div>
                            {% endif %}
                            {% endfor %}



                        </fieldset>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"> {% trans "company Information" %}</legend>

                            {% for field in form %}
                            {% if forloop.counter > 3 and forloop.counter <= 7 %}
                            <div class="col-md-6 col-lg-6 col-sm-4">
                                {{ field |as_crispy_field }}
                            </div>
                            {% endif %}
                            {% endfor %}



                        </fieldset>


                        <div>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border"> {% trans "Branch Information" %}</legend>

                                {% for field in form %}
                                {% if forloop.counter > 7  %}

                                <div class="col-md-6 col-lg-6 col-sm-4">
                                    {{ field|as_crispy_field }}
                                </div>
                                {% endif %}
                                {% endfor %}



                            </fieldset>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="create" class="btn btn-primary btn-block btn-large">{% trans "Next" %}</button>
                    </div>

                </div>
            </form><!-- form -->

            </section><!-- content -->
    </div><!-- container -->
    {% block stylejs %}
    <script>
        $(document).ready(function () {
            $('input[name="username"],input[name="password"],input[name="confirm_password"],input[name="arabic_name"],input[name="foregin_name"],input[name="branch_name"]').attr('required', 'required');
            let password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;


        });



    </script>
    {% endblock %}