

{% extends "layout/base.html" %} {% load static%} {% load crispy_forms_tags %} 
{% load i18n static %}
{% block content %}
{% if view %}
{% block title%}
{{title_list}}
{%endblock title%}
{% endif %}

{% if permission %}
<div class="box-header ptbnull btn-danger text-center with-border">
    <h3 class="box-title titlefix">{{ permission }}</h3>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
  
                {% if not add %}
                <a href="" id="add_btn_2" class="btn btn-primary btn-rounded my-3 pull-right clear_model"
                    data-toggle="modal" data-target="#modalLRForm"> <i class="fa fa-plus"></i>
                    {% trans 'add new Unit' %}</a>
                {% endif %}
                <div class="alert_message"></div>
    
            <div class="box-body">
                <div class="table-responsive mailbox-messages">
                    <table 
                        style="width:100%" class="datatable_list display nowrap table AutoFill table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" >
                        <thead>
                            <tr>
                            <th>{% trans "#" %}</th>
                            <th>{% trans "اسم العميل" %}</th>
                            <th>{% trans "رقم العميل" %}</th>
                            <th>{% trans "عنوان العميل" %}</th>
                            <th>{% trans "تاريخ التحاق العميل" %}</th>
                            <th>{% trans "المبلغ المتفق" %}</th>
                            <th>{% trans "المبلغ المدفوع" %}</th>
                            <th>{% trans "المبلغ المتبقي" %}</th>
                            <th>{% trans "عنوان الجهاز" %}</th>

                            <th>{% trans "حدث" %}</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
  
{% endif %}

{% endblock %}
{% block stylejs %}


<script src="{% static 'js/datatable_js.js'%}"></script>
<script>

url = '{% url "unit_actionListJson" %}';
    let csrf = '{{ csrf_token }}';


    let key_f2_ctrl_a_shortcut = "#add_btn_2";
    let key_f3_ctrl_s_shortcut = "button[type='submit']";
    let key_f4_ctrl_f_shortcut = "input[type='search']";

</script>
<script src="{% static 'js/warehouse/unit.js'%}"></script>
{% endblock stylejs %}


{% block modelform %}

<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> {{ title_form }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="{{url}}" id='form-id' method="post" class="needs-validation" accept-charset="utf-8">
                    {% csrf_token %}
                    <input type="text" name="id" class="hidden">
                    <div class="box-body">
                        <div class="form-row row">
                            {% for fildes in form %}
                            <div class="col col-md-6">
                                {{ fildes|as_crispy_field }}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="submit-button" type="submit" class="btn btn-primary">{% trans "SAVE" %} </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock modelform %}